:root.theme-light {
  --accent-color: rgba(255, 141, 203, 1);
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: rgba(255, 194, 230, 1);
  --title-decor-bg: #ff8dcb;
  --title-decor-color: #353430;
  --section-title-color: #353430;
  --button-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --link-shadow-color: #ff8dcb;
  --border-color: #353430;
  --rec-color: transparent;
  --cover-image: url('../images/cover-image-light.png');
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: rgba(255, 141, 203, 1);
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: rgba(255, 194, 230, 1);
    --title-decor-bg: #ff8dcb;
    --title-decor-color: #353430;
    --section-title-color: #353430;
    --button-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --link-shadow-color: #ff8dcb;
    --border-color: #353430;
    --rec-color: transparent;
    --cover-image: url('../images/cover-image-light.png');
  }

  :root .header__rec {
    display: none;
  }

  :root .header {
    background-image: var(--cover-image);
    background-size: cover;
  }
}