.page {
  background-color: var(--bg-color);
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--border-color);
  transform: rotate(180deg);
}

.decorated-zone::before {
  inset-inline-end: var(--page-padding);
  inset-block-start: var(--page-padding);
  border-inline-end: none;
  border-block-start: none;
}

.decorated-zone::after {
  inset-inline-start: var(--page-padding);
  inset-block-end: var(--page-padding);
  border-inline-start: none;
  border-block-end: none;
}

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  min-block-size: 100vb;
  padding: var(--page-padding);
  position: relative;
  min-height: 668px;
}

.header__rec {
  position: absolute;
  inset-inline-end: calc(var(--page-padding) + 9px);
  inset-block-start: var(--page-padding);
  color: var(--rec-color);
  font-size: 18px;
  line-height: 1.39;
  text-transform: uppercase;
}

.header__rec::after {
  content: '';
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--rec-color);
  box-shadow: 0 0 4px 2px var(--rec-color);
  margin-inline-start: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  display: flex;
}

.header__theme-menu-button {
  border: none;
  background: transparent;
  padding: 2px 13px;
  text-transform: lowercase;
  cursor: pointer;
  line-height: 1;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

.header__title {
  color: var(--title-color);
  font-size: var(--font-size-mobile);
  font-weight: 700;
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
}

.header__content {
  align-self: center;
  justify-self: end;
  max-inline-size: 355px;
}

.header__text {
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  padding: var(--page-padding);
  margin-block-start: 30px;
}

.section {
  display: grid;
  gap: 19px;
}

.section__title {
  color: var(--section-title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
  justify-self: start;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  background-color: var(--title-decor-bg);
  color: var(--title-decor-color);
}

.card__title_reg {
  font-weight: 400;
}

.card__text {
  font-size: 18px;
  line-height: 1.3;
}

.title-decor {
  background-color: var(--title-decor-bg);
  color: var(--title-decor-color);
}

.section-context .section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 351px;
}

.section-thr .section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  text-shadow: 2px 2px 0 var(--link-shadow-color);
}

.link:hover {
  border-block-end: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: var(--page-padding);
}

.gallery__title {
  color: var(--title-decor-color);
  background-color: var(--title-decor-bg);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.gallery__grid {
  display: grid;
  gap: var(--page-padding);
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  place-items: center;
  min-block-size: 668px;
  padding: var(--page-padding);
  margin-block-start: var(--section-gap);
  position: relative;
  margin: 30px 0 0 0;
}

.footer__title {
  color: var(--title-color);
  font-size: var(--font-size-mobile);
  font-weight: 700;
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {

  .main {
    margin-block-start: 40px;
  }

  .header {
    min-height: 1024px;
  }

  .header__title {
    font-size: var(--font-size-desktop);
    margin-inline-start: -20px;
  }
  
  .header__content {
    max-inline-size: 364px;
  }
  
  .section__content {
    justify-self: end;
  }

  .section-context {
    grid-template-columns: 0,1fr 2fr;
    align-items: start;
  }
  
  .section-context .section__title {
    grid-column: 1;
  }
  
  .section-context .section__content {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 472px;
  }

  .section__title {
    max-width: 236px;
  }
  
  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }
  
  .gallery__image:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  
  .gallery__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  
  .gallery__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  
  .gallery__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .gallery__image:last-child {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  
  .footer {
    min-block-size: 1024px;
    margin: 40px 0 0 0;
  }

  .footer__title {
    font-size: var(--font-size-desktop);
  }
}

@media (min-width: 1024px) {

  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }
  
  .header__content {
    max-inline-size: 491px;
  }

  .section__title {
    max-width: 315px;
  }

  .section-thr {
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 2fr;
    align-items: start; 
  }
   
  .section-thr .section__title {
    grid-row: 1; 
  }
  
  .section-thr .section__content { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-row: 2; 
  }

  .section-context .section__content {
    max-width: 648px;
  }

  .footer {
    min-block-size: 768px;
  }
}