:root {
  --accent-color: rgba(255, 0, 112, 1);
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: rgba(219, 0, 255, 1);
  --title-decor-bg: #ff0070;
  --title-decor-color: #000028;
  --section-title-color: #ff0070;
  --button-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --link-shadow-color: #ff0070;
  --border-color: #ff0070;
  --rec-color: #ff0070;
  --main-font: 'IBM Plex mono', monospace;
  --font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --section-gap: 50px;
  --card-gap: 20px;
  --page-padding: 10px;
}

@media (min-width: 768px) {
  :root {
    --page-padding: 20px;
    --section-gap: 80px;
  }
}